* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */

body {
    background-color: #1A0B2E;
    font-family: 'Inter', sans-serif;
}

.header {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #412567;
}

.container {
    width: 100%;
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
}

.logo span {
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.nav-links a:hover {
    opacity: 1;
}

.subscribe-btn {
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border: none;
    padding: 12px 28px;
    border-radius: 100px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 4px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.subscribe-btn .arrow {
  padding: 12px 16px;
}

.subscribe-btn:hover {
    transform: translateY(-1px);
}

.arrow {
    font-size: 20px;
}

/* Middle Bannner Styles */

.banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050505;
    background-image: url('assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 200px;
    position: relative;
    margin: 0;
}

.banner-content {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.hero-visual {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-circle {
    width: 100%;
    height: 100%;
    /* margin-bottom: 40px; */
}

.mic-icon {
    position: absolute;
    width: 33%;
    height: 255px;
}

.badge-new {
    position: absolute;
    top: 35px;
    right: 30px;
    border-radius: 1000px;
    background: var(--00-ff-88, #0F8);
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.50);
    padding: 8px 16px;
    font-weight: bold;
    font-size: 18px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-subtitle {
    color: #FFF;
    margin-bottom: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}

.banner-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-spotify {
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border: none;
    padding: 14px 32px;
    border-radius: 100px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-spotify img {
    width: 20px;
}

.btn-msg {
    background: transparent;
    border: 1px solid var(--00-ff-88, #0F8);
    padding: 14px 32px;
    border-radius: 100px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-outline img {
    width: 20px;
}

/* About podcast styles */
.about-podcast {
    width: 100%;
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    display: flex;
    justify-content: center;
}

.about-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-title {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}

.about-text-content {
    max-width: 850px;
    margin: 0 auto 100px auto;
    margin-bottom: 80px;
}

.about-text-content p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px; 
    opacity: 80%;
}

.stats-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 80px;
}

.stat-item {
    flex: 1;
}

.gradient-text {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.stat-item p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 80%;
}